node_modules/
.env
# test if it works

todo-app/redis_data/
todo-app/mongo_data/

# Playwright artifacts

todo-app/playwright/.cache/
todo-app/todo-frontend/redis_data/appendonlydir/appendonly.aof.1.incr.aof

todo-tests/playwright-report/data/*
todo-tests/test-results/*
